body {
    margin-top: 75px;
    font-family: "Open Sans", Tahoma, Verdana, Segoe, sans-serif !important;
}

.post-content, .page-content {
    font-size: 16px !important;
    line-height: 1.5;
}

.main-content {
    margin-bottom: 20px;
}

.fa-rss {
    background-color: #F4B83F;
    color: #fff;
}

footer {
    margin: 10px 0;
}
