body {
    margin-top: 75px;
}

.post-content, .page-content {
    margin-bottom: 20px;
    line-height: 22px;
}

.main-content {
    margin-bottom: 20px;
}

.fa-rss {
    background-color: #F4B83F;
    color: #fff;
}

footer {
    margin: 10px 0;
}
