<!-- Footer -->
<footer>
    <div class="container">
        <hr/>
        <p class="text-center">Published by <strong><a target="_blank" href="https://github.com/sarfraznawaz2005/BloggerCMS">BloggerCMS</a></strong></p>
    </div>
</footer>

<!-- Jquery and Bootstrap Script files -->
<script src="{{settings.url}}/js/jquery-2.0.3.min.js"></script>
<script src="{{settings.url}}/js/plugins/bootstrap-3.0.3/js/bootstrap.min.js"></script>
<script src="{{settings.url}}/js/blog.js"></script>
<script src="{{settings.url}}/js/search.js"></script>

</body>
</html>