<!-- Header -->
<header class="navbar navbar-default
 navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="{{settings.url}}/index.html" class="navbar-brand">{{settings.title}}</a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <div class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="searchQuery form-control" placeholder="Search Posts">
                </div>

                <button type="button" class="searchButton btn btn-default"><i class="glyphicon glyphicon-search"></i>
                    Submit
                </button>
            </div>

            <ul class="nav navbar-nav page-links">
                {{#pages}}
                    <li><a href="{{settings.url}}/page/{{slug}}.html">{{title}}</a></li>
                {{/pages}}
            </ul>
            
        </nav>
    </div>
</header>