{{> head}}
<body>
{{> nav}}

<div class="container">
    <div class="row">
        <div class="col-md-8 main-content">
            <article>
                <h3>{{post.title}}</h3>
                <span class="glyphicon glyphicon-user"></span> {{post.author}}
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-time"></span> {{post.dated}}
                <hr>

                <p class="post-content">{{{post.body}}}</p>
                <br/><br/>

                <div class="post-info">
                    {{#post.category}}
                        <span class="glyphicon glyphicon-folder-open"></span> &nbsp;
                        <a href="{{settings.url}}/category/{{post.categoryslug}}">{{post.category}}</a>
                        &nbsp;&nbsp;
                    {{/post.category}}

                    <span class="glyphicon glyphicon-bookmark"></span>

                    {{#post.tags}}
                        <a href="{{settings.url}}/tag/{{.}}">{{.}}</a>&nbsp;&nbsp;
                    {{/post.tags}}
                </div>

            </article>
            <hr/>

            <div class="text-center clearfix">
                <div class="col-sm-4 col-md-4">
                    <a class="prevpost btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Prev Post</a>
                </div>
                <div class="col-sm-4 col-md-4">
                    <a class="btn btn-primary" href="{{settings.url}}/posts.html"><i class="fa fa-navicon"></i> View All
                        Post</a>
                </div>
                <div class="col-sm-4 col-md-4">
                    <a class="nextpost btn btn-primary"><i class="fa fa-chevron-circle-right"></i> Next Post</a>
                </div>
            </div>

            <hr/>
            
            <!-- Comment form -->
            <div class="well">
                <div id="disqus_thread"></div>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">Comments
                    powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">Comments powered by
                    <span class="logo-disqus">Disqus</span></a>
            </div>

        </div>

        {{> sidebar}}

    </div>
</div>

{{> footer}}

<!-- for pagination -->
<script>
    $(function () {

        ///////////////////////////////////////////////////
        // class/id/selector of prev link
        var $prevPostSelector = $('.prevpost');
        var $nextPostSelector = $('.nextpost');
        ///////////////////////////////////////////////////

        var pageArray = document.location.href.split('/');
        var currentPageSlug = pageArray[pageArray.length - 1];

        if (!currentPageSlug) {
            currentPageSlug = pageArray[pageArray.length - 2];
        }

        $.ajax({
            url: __blogURL + "/data/blog.json",
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.posts !== undefined && data.posts !== null) {
                    $.each(data.posts, function (i, post) {
                        if (post.slug === currentPageSlug || post.slug + '/' === currentPageSlug) {

                            var prevPost = data.posts[i - 1];
                            var nextPost = data.posts[i + 1];

                            if (prevPost === undefined || prevPost === null) {
                                // hide previous link if it is first post
                                $prevPostSelector.hide();
                            }
                            else {
                                $prevPostSelector.attr('href', __blogURL + '/post/' + prevPost.slug);
                            }

                            if (nextPost === undefined || nextPost === null) {
                                // hide previous link if it is last post
                                $nextPostSelector.hide();
                            }
                            else {
                                $nextPostSelector.attr('href', __blogURL + '/post/' + nextPost.slug);
                            }

                            return false; // break out of each
                        }
                    });
                }
            },
            error: function (e) {
                $prevPostSelector.hide();
                $nextPostSelector.hide();
            }
        });

        // for Disqus
        var disqus_shortname = '{{settings.disqus}}';
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

    });
</script>
