{{> head}}
<body>
{{> nav}}

<div class="container">
    <div class="row">
        <div class="col-md-8 main-content">
            {{#posts}}
                <h3><a href="{{settings.url}}/post/{{slug}}.html">{{title}}</a></h3>
                <span class="glyphicon glyphicon-time"></span> {{dated}}
            {{/posts}}
        </div>

        {{> sidebar}}
    </div>
</div>

{{> footer}}