{{> head}}
<body>
{{> nav}}

<div class="container">
    <div class="row">
        <div class="col-md-8 main-content">
            <h1>Tag Posts</h1>
            <hr/>
            <br/>

            {{#tagPosts}}
                <h3><a href="{{settings.url}}/post/{{slug}}.html">{{title}}</a></h3>
                <span class="glyphicon glyphicon-time"></span> {{dated}}
            {{/tagPosts}}
        </div>

        {{> sidebar}}
    </div>
</div>

{{> footer}}